-- Malaysian public holidays generated by gen_holidays.py
-- Source: python `holidays` library, years [2019, 2020, 2021, 2022]
-- 64 holiday dates, 22 distinct holidays
-- DO NOT EDIT BY HAND - regenerate with:
--     python gen_holidays.py > holiday_updates.sql

UPDATE date_dim SET holiday_ind = 'N', holiday_name = NULL
 WHERE holiday_ind = 'Y';

UPDATE date_dim SET holiday_ind = 'Y', holiday_name = 'Chinese New Year'
 WHERE cal_date IN (DATE '2019-02-05',
                    DATE '2020-01-25',
                    DATE '2021-02-12',
                    DATE '2022-02-01');

UPDATE date_dim SET holiday_ind = 'Y', holiday_name = 'Chinese New Year (Second Day)'
 WHERE cal_date IN (DATE '2019-02-06',
                    DATE '2020-01-26',
                    DATE '2021-02-13',
                    DATE '2022-02-02');

UPDATE date_dim SET holiday_ind = 'Y', holiday_name = 'Labor Day'
 WHERE cal_date IN (DATE '2019-05-01',
                    DATE '2020-05-01',
                    DATE '2021-05-01',
                    DATE '2022-05-01');

UPDATE date_dim SET holiday_ind = 'Y', holiday_name = 'Vesak Day'
 WHERE cal_date IN (DATE '2019-05-19',
                    DATE '2020-05-07',
                    DATE '2021-05-26',
                    DATE '2022-05-15');

UPDATE date_dim SET holiday_ind = 'Y', holiday_name = 'Vesak Day (observed)'
 WHERE cal_date IN (DATE '2019-05-20',
                    DATE '2022-05-16');

UPDATE date_dim SET holiday_ind = 'Y', holiday_name = 'Eid al-Fitr'
 WHERE cal_date IN (DATE '2019-06-05',
                    DATE '2020-05-24',
                    DATE '2021-05-13',
                    DATE '2022-05-02');

UPDATE date_dim SET holiday_ind = 'Y', holiday_name = 'Eid al-Fitr (Second Day)'
 WHERE cal_date IN (DATE '2019-06-06',
                    DATE '2020-05-25',
                    DATE '2021-05-14',
                    DATE '2022-05-03');

UPDATE date_dim SET holiday_ind = 'Y', holiday_name = 'Day of Installation of the 16th Yang di-Pertuan Agong'
 WHERE cal_date IN (DATE '2019-07-30');

UPDATE date_dim SET holiday_ind = 'Y', holiday_name = 'Eid al-Adha'
 WHERE cal_date IN (DATE '2019-08-11',
                    DATE '2020-07-31',
                    DATE '2021-07-20',
                    DATE '2022-07-10');

UPDATE date_dim SET holiday_ind = 'Y', holiday_name = 'Eid al-Adha (observed)'
 WHERE cal_date IN (DATE '2019-08-12',
                    DATE '2022-07-11');

UPDATE date_dim SET holiday_ind = 'Y', holiday_name = 'National Day'
 WHERE cal_date IN (DATE '2019-08-31',
                    DATE '2020-08-31',
                    DATE '2021-08-31',
                    DATE '2022-08-31');

UPDATE date_dim SET holiday_ind = 'Y', holiday_name = 'Islamic New Year'
 WHERE cal_date IN (DATE '2019-09-01',
                    DATE '2020-08-20',
                    DATE '2021-08-10',
                    DATE '2022-07-30');

UPDATE date_dim SET holiday_ind = 'Y', holiday_name = 'Birthday of HM Yang di-Pertuan Agong'
 WHERE cal_date IN (DATE '2019-09-09',
                    DATE '2020-06-08',
                    DATE '2021-06-07',
                    DATE '2022-06-06');

UPDATE date_dim SET holiday_ind = 'Y', holiday_name = 'Malaysia Day'
 WHERE cal_date IN (DATE '2019-09-16',
                    DATE '2020-09-16',
                    DATE '2021-09-16',
                    DATE '2022-09-16');

UPDATE date_dim SET holiday_ind = 'Y', holiday_name = 'Prophet Muhammad''s Birthday'
 WHERE cal_date IN (DATE '2019-11-09',
                    DATE '2020-10-29',
                    DATE '2021-10-19',
                    DATE '2022-10-10');

UPDATE date_dim SET holiday_ind = 'Y', holiday_name = 'Christmas Day'
 WHERE cal_date IN (DATE '2019-12-25',
                    DATE '2020-12-25',
                    DATE '2021-12-25',
                    DATE '2022-12-25');

UPDATE date_dim SET holiday_ind = 'Y', holiday_name = 'Chinese New Year (Second Day) (observed)'
 WHERE cal_date IN (DATE '2020-01-27');

UPDATE date_dim SET holiday_ind = 'Y', holiday_name = 'Eid al-Fitr (observed)'
 WHERE cal_date IN (DATE '2020-05-26');

UPDATE date_dim SET holiday_ind = 'Y', holiday_name = 'Labor Day (observed)'
 WHERE cal_date IN (DATE '2022-05-04');

UPDATE date_dim SET holiday_ind = 'Y', holiday_name = 'General election additional holiday'
 WHERE cal_date IN (DATE '2022-11-18',
                    DATE '2022-11-19');

UPDATE date_dim SET holiday_ind = 'Y', holiday_name = 'Additional holiday'
 WHERE cal_date IN (DATE '2022-11-28');

UPDATE date_dim SET holiday_ind = 'Y', holiday_name = 'Christmas Day (observed)'
 WHERE cal_date IN (DATE '2022-12-26');

COMMIT;
