-- Malaysian public holidays generated by gen_holidays.py
-- Source: python `holidays` library, years [2019, 2020, 2021, 2022, 2023, 2024, 2025, 2026]
-- 124 holiday dates, 27 distinct holidays
-- DO NOT EDIT BY HAND - regenerate with:
--     python gen_holidays.py 2019 2020 2021 2022 2023 2024 2025 2026 > holiday_update.sql

UPDATE date_dim SET holiday_ind = 'N', holiday_name = NULL
 WHERE holiday_ind = 'Y'
   AND cal_year BETWEEN 2019 AND 2026;

UPDATE date_dim SET holiday_ind = 'Y', holiday_name = 'Chinese New Year'
 WHERE cal_date IN (DATE '2019-02-05',
                    DATE '2020-01-25',
                    DATE '2021-02-12',
                    DATE '2022-02-01',
                    DATE '2023-01-22',
                    DATE '2024-02-10',
                    DATE '2025-01-29',
                    DATE '2026-02-17');

UPDATE date_dim SET holiday_ind = 'Y', holiday_name = 'Chinese New Year (Second Day)'
 WHERE cal_date IN (DATE '2019-02-06',
                    DATE '2020-01-26',
                    DATE '2021-02-13',
                    DATE '2022-02-02',
                    DATE '2023-01-23',
                    DATE '2024-02-11',
                    DATE '2025-01-30',
                    DATE '2026-02-18');

UPDATE date_dim SET holiday_ind = 'Y', holiday_name = 'Labor Day'
 WHERE cal_date IN (DATE '2019-05-01',
                    DATE '2020-05-01',
                    DATE '2021-05-01',
                    DATE '2022-05-01',
                    DATE '2023-05-01',
                    DATE '2024-05-01',
                    DATE '2025-05-01',
                    DATE '2026-05-01');

UPDATE date_dim SET holiday_ind = 'Y', holiday_name = 'Vesak Day'
 WHERE cal_date IN (DATE '2019-05-19',
                    DATE '2020-05-07',
                    DATE '2021-05-26',
                    DATE '2022-05-15',
                    DATE '2023-05-04',
                    DATE '2024-05-22',
                    DATE '2025-05-12',
                    DATE '2026-05-31');

UPDATE date_dim SET holiday_ind = 'Y', holiday_name = 'Vesak Day (observed)'
 WHERE cal_date IN (DATE '2019-05-20',
                    DATE '2022-05-16',
                    DATE '2026-06-02');

UPDATE date_dim SET holiday_ind = 'Y', holiday_name = 'Eid al-Fitr'
 WHERE cal_date IN (DATE '2019-06-05',
                    DATE '2020-05-24',
                    DATE '2021-05-13',
                    DATE '2022-05-02',
                    DATE '2023-04-22',
                    DATE '2024-04-10',
                    DATE '2025-03-31',
                    DATE '2026-03-21');

UPDATE date_dim SET holiday_ind = 'Y', holiday_name = 'Eid al-Fitr (Second Day)'
 WHERE cal_date IN (DATE '2019-06-06',
                    DATE '2020-05-25',
                    DATE '2021-05-14',
                    DATE '2022-05-03',
                    DATE '2023-04-23',
                    DATE '2024-04-11',
                    DATE '2025-04-01',
                    DATE '2026-03-22');

UPDATE date_dim SET holiday_ind = 'Y', holiday_name = 'Day of Installation of the 16th Yang di-Pertuan Agong'
 WHERE cal_date IN (DATE '2019-07-30');

UPDATE date_dim SET holiday_ind = 'Y', holiday_name = 'Eid al-Adha'
 WHERE cal_date IN (DATE '2019-08-11',
                    DATE '2020-07-31',
                    DATE '2021-07-20',
                    DATE '2022-07-10',
                    DATE '2023-06-29',
                    DATE '2024-06-17',
                    DATE '2025-06-07',
                    DATE '2026-05-27');

UPDATE date_dim SET holiday_ind = 'Y', holiday_name = 'Eid al-Adha (observed)'
 WHERE cal_date IN (DATE '2019-08-12',
                    DATE '2022-07-11');

UPDATE date_dim SET holiday_ind = 'Y', holiday_name = 'National Day'
 WHERE cal_date IN (DATE '2019-08-31',
                    DATE '2020-08-31',
                    DATE '2021-08-31',
                    DATE '2022-08-31',
                    DATE '2023-08-31',
                    DATE '2024-08-31',
                    DATE '2025-08-31',
                    DATE '2026-08-31');

UPDATE date_dim SET holiday_ind = 'Y', holiday_name = 'Islamic New Year'
 WHERE cal_date IN (DATE '2019-09-01',
                    DATE '2020-08-20',
                    DATE '2021-08-10',
                    DATE '2022-07-30',
                    DATE '2023-07-19',
                    DATE '2024-07-07',
                    DATE '2025-06-27',
                    DATE '2026-06-17');

UPDATE date_dim SET holiday_ind = 'Y', holiday_name = 'Birthday of HM Yang di-Pertuan Agong'
 WHERE cal_date IN (DATE '2019-09-09',
                    DATE '2020-06-08',
                    DATE '2021-06-07',
                    DATE '2022-06-06',
                    DATE '2023-06-05',
                    DATE '2024-06-03',
                    DATE '2025-06-02',
                    DATE '2026-06-01');

UPDATE date_dim SET holiday_ind = 'Y', holiday_name = 'Malaysia Day'
 WHERE cal_date IN (DATE '2019-09-16',
                    DATE '2020-09-16',
                    DATE '2021-09-16',
                    DATE '2022-09-16',
                    DATE '2023-09-16',
                    DATE '2025-09-16',
                    DATE '2026-09-16');

UPDATE date_dim SET holiday_ind = 'Y', holiday_name = 'Prophet Muhammad''s Birthday'
 WHERE cal_date IN (DATE '2019-11-09',
                    DATE '2020-10-29',
                    DATE '2021-10-19',
                    DATE '2022-10-10',
                    DATE '2023-09-28',
                    DATE '2025-09-05',
                    DATE '2026-08-25');

UPDATE date_dim SET holiday_ind = 'Y', holiday_name = 'Christmas Day'
 WHERE cal_date IN (DATE '2019-12-25',
                    DATE '2020-12-25',
                    DATE '2021-12-25',
                    DATE '2022-12-25',
                    DATE '2023-12-25',
                    DATE '2024-12-25',
                    DATE '2025-12-25',
                    DATE '2026-12-25');

UPDATE date_dim SET holiday_ind = 'Y', holiday_name = 'Chinese New Year (Second Day) (observed)'
 WHERE cal_date IN (DATE '2020-01-27',
                    DATE '2024-02-12');

UPDATE date_dim SET holiday_ind = 'Y', holiday_name = 'Eid al-Fitr (observed)'
 WHERE cal_date IN (DATE '2020-05-26');

UPDATE date_dim SET holiday_ind = 'Y', holiday_name = 'Labor Day (observed)'
 WHERE cal_date IN (DATE '2022-05-04');

UPDATE date_dim SET holiday_ind = 'Y', holiday_name = 'General election additional holiday'
 WHERE cal_date IN (DATE '2022-11-18',
                    DATE '2022-11-19');

UPDATE date_dim SET holiday_ind = 'Y', holiday_name = 'Additional holiday'
 WHERE cal_date IN (DATE '2022-11-28',
                    DATE '2025-09-15');

UPDATE date_dim SET holiday_ind = 'Y', holiday_name = 'Christmas Day (observed)'
 WHERE cal_date IN (DATE '2022-12-26');

UPDATE date_dim SET holiday_ind = 'Y', holiday_name = 'Chinese New Year (observed)'
 WHERE cal_date IN (DATE '2023-01-24');

UPDATE date_dim SET holiday_ind = 'Y', holiday_name = 'Eid al-Fitr (additional holiday)'
 WHERE cal_date IN (DATE '2023-04-21',
                    DATE '2026-03-20');

UPDATE date_dim SET holiday_ind = 'Y', holiday_name = 'Eid al-Fitr (Second Day) (observed)'
 WHERE cal_date IN (DATE '2023-04-24',
                    DATE '2026-03-23');

UPDATE date_dim SET holiday_ind = 'Y', holiday_name = 'Malaysia Day; Prophet Muhammad''s Birthday'
 WHERE cal_date IN (DATE '2024-09-16');

UPDATE date_dim SET holiday_ind = 'Y', holiday_name = 'National Day (observed)'
 WHERE cal_date IN (DATE '2025-09-01');

COMMIT;
